body{
    background: rgb(255,162,0);
    background: -moz-linear-gradient(90deg, rgba(255,162,0,1) 0%, rgba(0,0,153,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,162,0,1) 0%, rgba(0,0,153,1) 100%);
    background: linear-gradient(90deg, rgba(255,162,0,1) 0%, rgba(0,0,153,1) 100%);

    /* https://cssgradient.io/ */

    max-height:100%;
    max-width: 100%; /* might have to change */
    /* overflow-wrap: word-break; */
    overflow-wrap: break-word;
    margin: 0 10%;
}

.frosted{
    background-color: #ffffffaf;
    border-radius: 10px;
}

#wikipollia{
    margin:20px auto;
    display: block;
    /* text-align: center; */
}

#subtitle{
    /* width: 100%;  */
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.flex-container{
    grid-area: b;
    display:flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: center; */
    /* align-items: center; */
}

#articles{
    grid-area:a
}

#articles h3{
    text-align: center;
    padding:5px 10px;
    margin:20px 0;
}

#articles ul{
    padding: 0;
}

#articles li{
    /* display: block; */
    margin:10px;
    justify-content: space-between;
    padding:2px 5px;
}

#articles span{
    /* display: block; */
    margin: 0 5px;
}

.topArticle{
    display: flex;
    cursor: pointer;
}

#searchform{
    grid-area:c;
    margin: 20px 0;
}

#searchform button{
    margin: 0 auto;
    width: 110px;
}

.searchresult{
    margin: 10px;
    cursor:pointer;
}

#voteform{
    margin: 20px auto;
    /* max-width:65% */
}

#results{
    padding:0;
}

#results li{
    display: block;
    /* margin: 0 auto; */
    text-align: center;
}

#results button{
    width:250px;
    font-size: 14px;
}

#title{
    text-align: center;
    padding: 20px 0;
}

/* #comment{
    max-width:90%   
} */

#buttons{
    display:flex;
    justify-content: space-between;
}
#buttons button{
    /* padding: 0 10%; */
    width: 140px;
    margin: 10px 0;
}

span.desktop{
    display:none;
}
span.mobile{
    display:inline;
}

textarea{
    height: 50%
}

@media (min-width:800px){

    body{
        /* margin: 0 */
    }

    span.desktop{
        display:inline;
    }
    span.mobile{
        display:none;
    }
    .grid-container{
        display:grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'a b'
        'c b';
        font-size: 24px;
    }
}